@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=IBM+Plex+Mono:wght@400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-header: #FFFFFF;
    --clr-body: #DEDEDE;
    --clr-elements: #61707D;
    --clr-accent: #60992D;
    --fw-regular: 400;
    --fw-bold: 700;
}

body { /* animate background at the end */ 
    background: linear-gradient(178.03deg, #353D4C 1.54%, #71828E 98.34%);
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--clr-body);


    overflow-x: hidden;
}

 img {
    max-width: 100%;
    display: block;
} 

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}



.social-header {
    margin: 2rem;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}

.social-header li {
    padding-right: 2rem;
}





.primary-header {
    align-items: center;
    justify-content: space-between;
    
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    background-color: hsl(208 13% 44% / .1);
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background-color: hsl(208 13% 44% / .1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a {
    color: var(--clr-header);
    text-decoration: none;
    font-weight: 500;
}

.primary-navigation a:hover {
    color: var(--clr-accent);
}


@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;
        
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url(/images/dashicons_menu-alt.svg);
        background-repeat: no-repeat;
        width: 1.4rem;
        aspect-ratio: 1;
        border: 0;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url(/images/menu-in.svg);
    }


}

@media (min-width: 35em) {

    .primary-navigation {
        --gap: 2rem;
        background-color: var(--clr-elements);
        padding-block: 2.7rem;
        padding-inline: clamp(1rem, 7vw, 8rem);
    }



    /* end of nav bar */
}


.hero-container {
    margin: 2rem 2rem 5rem;

}



.hero-content h1 {
    font-size: 2.875rem;
    font-family: 'Cousine', monospace;
    font-weight: var(--fw-bold);

}

.hero-content h2 {
    font-size: 1.5rem;
    color: var(--clr-body);
    font-weight: var(--fw-regular);
    padding-top: .7rem;
    padding-bottom: 2rem;
}

.btn-contact {
    display: inline-block;
    padding: 14px 30px;
    border-radius: 10px;
    background-color: var(--clr-elements);
    color: var(--clr-body);
    text-decoration: none;
}

.resume-link {
    padding-top: 1.6rem;
    padding-left: 1rem;
    letter-spacing: 1px;
}

.resume-link a {
    cursor: pointer;
    color: var(--clr-accent);
}

.transparentlogo {
    position: absolute;
    z-index: -1;

}

@media (min-width: 35em) {

    .hero-content {
        padding: 4rem;
        margin-bottom: 14rem;
    }

    .transparentlogo {
        left: 429px;
        top: 173px;
    }

    .hero-content h1 {
        font-size: 4rem;
    }

 }


 /* End of Hero Section */

 .skills {
    margin: 2rem;
 }

 .skills-container {
    text-align: center;
 }

 .skills-left__content h2 {
    padding-bottom: 2rem;
 }


 .skills-blocks {
    padding: 20px 0px;

    list-style: none;
    justify-content: center;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    




 }

 .skills-blocks li {
    padding: 3px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-header);
    color: var(--clr-elements);
    border: 1px solid #fff;
    min-width: fit-content;
 }

 /* end of skills section */ 


 .work {
    margin: 6rem 2rem;
    text-align: center;

 }

 .notable-grid {
    padding: 3rem 0rem;
 } 

 .subtitle {
    letter-spacing: 3px;
    color: var(--clr-body);
 }

 .company {
    padding: 10px 0px;
    font-size: 1.5rem;
 }

 .project-img {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

 }

 .btn-link {
    display: inline-block;
    padding: 14px 30px;
    border-radius: 10px;
    background-color: var(--clr-header);
    color: var(--clr-elements);
    text-decoration: none;
 }

 .project-desc {
    padding-top: 30px;
 }


 /* end of notable projects */
.Personal-Projects {
    margin: 0rem 2rem;
}

.personal-info {
   padding-left: 1rem;
   width: 50%;
}


 .personal-grid {
    display: flex;
}

 
.card {
    color: var(--clr-header);
    background-image: url(/images/BryceCanyonGraphic-1.png);
    background-size: cover;
    padding: 10rem 0 0 ;
    max-width: 35ch;
    border-radius: 10px;
    overflow: hidden;

    transition: transform 500ms ease;
}

.card-img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / .4) 10%,
        hsl(0 0% 0% / 1)
    );
    
}

.card-title {
    position: relative;
    width: max-content;
    
}

.card-title::after {
content: '';
position: absolute;
height: 3px;
left: calc(var(--padding) * -1);
bottom: 0;
background-color: var(--clr-accent);
width: calc(100% + var(--padding));
transform-origin: left;
transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}
 /* lightens font text - kevin powell's trick*/
.card-body {
    color: rgb(255, 255, 255 / .85);
    padding: 5px 0;
}

@media (hover: hover) {
    .card-content{
        transform: translateY(70%);
        transition: transform 500ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }
    
    .card:focus-within .card-content {
        transition-duration: 0ms;
    }
    
    .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    
    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title)                                                                                                                       {
        opacity: 1;
        transition-delay: 800ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

.btn-project {
    cursor: pointer;
    display: inline-block;
    padding: .5em 1.1em;
    text-decoration: none;
    color: var(--clr-header);
    background-color: var(--clr-accent);
    border-radius: 6px;
}

.btn-project:hover, 
.btn-project:focus {
    background-color: var(--clr-elements);
}

/* Accesibility for those who do not want motion */
@media (prefers-reduced-motion: reduce) 
{
    *,
    *::before,
    *::after {
        animation-duration: .01ms
        !important;
        animation-iteration-count: 1
        !important;
        transition-duration: .01ms
        !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}
























 /* end of personal projects */

    .contact {
        margin: 2rem;
        text-align: center;
    }

        .contact-container h1 {
            font-size: 2.875rem;
            padding-bottom: 10px;
        }

       


 /* end of CTA */
















